{% extends "index/base.html" %}
{% load static %}
{% block local_css %}
    <link rel="stylesheet" href="{% static 'annotator/my_style.css' %}"/>{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>please enter the text for code block recognition</h2>
        </div>

        <form action="." method="POST" role="form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-default"/>
        </form>
    </div>
{% endblock %}