.idea/
SOKnowledge/tagger/data/
SOKnowledge/tagger/models/
/SOKnowledge/data_processor/data/
/SOKnowledge/data_processor/scripts/test/

*.db
*.pyc

/SOKnowledge/db/so-parser.log
/annotator/test/
/SOKnowledge/ctr_util/model/trainModel.txt
/SOKnowledge/ctr_util/model/feature_words.txt
/SOKnowledge/ner_util/models/large_code_block_tagger/
/SOKnowledge/ner_util/models/so_for_epochs50_splitwords/
