{% extends "index/base.html" %}
{% block page_title %}Answer List For Page-{{ answer_post_list.number }}{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Answer List</div>
        <ul class="list-group">
            {% for answer_post in answer_post_list %}
                {% with index=forloop.counter0|add:-1 %}
                    <li class="list-group-item">
                        {% if annotator_type == 1 %}

                            <a href={% url 'annotator:ner_annotator_answer' question_index index|add:answer_post_list.start_index %}>
                        {% endif %}
                        {% if annotator_type == 2 %}

                            <a href={% url 'annotator:sentences_annotator_answer' question_index index|add:answer_post_list.start_index %}>
                        {% endif %}

                        <h4>
                            <small>{{ answer_post.id }}</small>
                            <strong> score:{{ answer_post.score }}</strong>
                        </h4>
                        </a>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </div>

    <div class="pagination">
        <ul class="pager">
            {% if answer_post_list.has_previous %}
                <li>
                    <a href={% url 'annotator:listing_answer_for_question_for_annotator' question_index answer_post_list.previous_page_number annotator_type %}>previous</a>
                </li>
            {% endif %}

            <li class="current">
                Page {{ answer_post_list.number }} of {{ answer_post_list.paginator.num_pages }}.
            </li>

            {% if answer_post_list.has_next %}
                <li>
                    <a href={% url 'annotator:listing_answer_for_question_for_annotator' question_index answer_post_list.next_page_number annotator_type %}>next</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
