{% load static %}

<html>
<head>
    <title>Annotation for sentences type</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'annotator/texttagger.css' %}"/>
    <link rel="stylesheet" href="{% static 'annotator/my_style.css' %}"/>

    <script src="{% static 'annotator/texttagger.js' %}"></script>

</head>
<body>
<div></div>
<div class="container">

    <div class="page-header">
        {% if post_type == 1 %}

            <h2>Annotation Question For Sentence Type
                <small>{{ postId }}</small>
            </h2>
        {% endif %}
        {% if post_type == 2 %}

            <h2>Annotation Answer For Sentence Type
                <small>{{ postId }}</small>
            </h2>
        {% endif %}
    </div>
    <div id="tagdescriptions">
        <h3>Sentence Type</h3>
        {% for type in sentence_type_list %}
            <h4>
                <span class="label label-default {{ type.name }} tagged">{{ type.name }}</span>
                <span>{{ type.description }}</span>
            </h4>
        {% endfor %}
    </div>

    <div>
        <h3>please select type for text below</h3>
    </div>
    <div>
        <pre id="needed_tag_text">{{ text }}</pre>
    </div>
    {% for code_block in code_block_list %}
        <div>
            <label>{{ code_block.code_block_name }}</label>
            <pre>{{ code_block.code_block }}</pre>
        </div>
    {% endfor %}
    <div>
        <h3>tagged text output</h3>
    </div>
    <div>
        {% if post_type == 1 %}
            <form role="form" method="POST" action={% url 'annotator:sentences_annotator_question' question_index %}>
                {{ formset.management_form }}
                {% csrf_token %}
                {% for form in formset %}
                    {{ form.as_table }}
                {% endfor %}
                <input type="submit" class="form-control"/>
            </form>
        {% endif %}
        {% if post_type == 2 %}
            <form role="form" method="POST"
                  action={% url 'annotator:sentences_annotator_answer' question_index answer_index %}>
                {{ formset.management_form }}
                {% csrf_token %}
                {% for form in formset %}
                    {{ form.as_table }}
                {% endfor %}
                <input type="submit" class="form-control"/>
            </form>
        {% endif %}
    </div>

    <div class="form-group">
        <div class="btn-group" role="group" aria-label="Next and previous">
            {% if question_index > 0 %}
                <a class="btn btn-default saveclass" role="button"
                   href={% url 'annotator:sentences_annotator_question' question_index|add:-1 %}><span
                        class="glyphicon glyphicon-chevron-left"
                        aria-hidden="true"></span>Previous Question</a>
            {% endif %}

            <a class="btn btn-default saveclass" role="button"
               href={% url 'annotator:listing_question_for_annotator' 1 2 %}
            >Show All Questions<span
                    class=" glyphicon glyphicon-chevron-right" aria-hidden="true"
            ></span></a>

            <a class="btn btn-default saveclass" role="button"
               href={% url 'annotator:sentences_annotator_question' question_index|add:1 %}
            >Next Question<span
                    class=" glyphicon glyphicon-chevron-right" aria-hidden="true"
            ></span></a>

            {% if answer_index > 0 %}
                <a class="btn btn-default saveclass" role="button"
                   href={% url 'annotator:sentences_annotator_answer' question_index answer_index|add:-1 %}><span
                        class="glyphicon glyphicon-chevron-left"
                        aria-hidden="true"></span>Previous Answer</a>
            {% endif %}

            {% if answer_index < 0 %}
                <a class="btn btn-default saveclass" role="button"
                   href={% url 'annotator:sentences_annotator_answer' question_index 0 %}
                >Show First Answer<span
                        class=" glyphicon glyphicon-chevron-right" aria-hidden="true"
                ></span></a>
            {% endif %}


            <a class="btn btn-default saveclass" role="button"
               href={% url 'annotator:listing_answer_for_question_for_annotator' question_index 1 2 %}
            >Show All Answers<span
                    class=" glyphicon glyphicon-chevron-right" aria-hidden="true"
            ></span></a>
            {% if answer_index >= 0 %}
                <a class="btn btn-default saveclass" role="button"
                   href={% url 'annotator:sentences_annotator_answer' question_index answer_index|add:1 %}
                >Next Answer<span
                        class=" glyphicon glyphicon-chevron-right" aria-hidden="true"
                ></span></a>
            {% endif %}

        </div>
    </div>

</div>
</body>

<script type="text/javascript">
    $(document).ready(function () {

    })
</script>